
<!--CONTAINER PAGE -->
<div>
 

    <!--CONTAINER GRIDS PRODUCTS -->
   <div class="text-gray-700 body-font overflow-hidden bg-white">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src={{product.img}}>
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">{{product.category}}</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{product.title}}</h1>
                <div class="flex mb-4">
                <span class="flex items-center">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                    </svg>
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                    </svg>
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                    </svg>
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                    </svg>
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                    </svg>
                    <span class="text-gray-600 ml-3">4 Reviews</span>
                  
                </span>
                <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200">
                    <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>
                    </a>
                </span>
                </div>

       
                <p class="leading-relaxed">{{product.description}}</p>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
              
               
                      <div class="flex mb-4">
                        <span class="flex items-center">
                   
               
                    <span class="text-gray-600 ml-3">Precio {{product.price}}</span>
               
               
                </span>
          
                </div>





                </div>
                <div class="w-full flex">
           
                   

                            <form  class="w-full bg-yellow-500 py-8 border border-slate-200 p-3 flex flex-col items-center space-y-2">
                            
                            <div  class="flex flex-col justify-center">
                                <label for="counter-input" class="block text-sm font-medium text-gray-900 dark:text-white">Cantidad</label>
                                <div class="relative flex items-center">
                                    <button type="button" id="decrement-button-{{product.productId}}" onclick="decrementCounterQuantity(`{{product.productId}}`)"  class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                        <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                        </svg>
                                    </button>
                                    <input type="number"  min="1" max="{{product.stock}}" id="counter-input-{{product.productId}}" value="1"   required />
                                    <button type="button" id="increment-button-{{product.productId}}" onclick="incrementCounterQuantity(`{{product.productId}}`,`{{product.stock}}`)"  class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                        <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">({{product.stock}} disponibles)</p>
                            
                            <button id={{product.productId}} type="button" onclick="addToCartThisProduct(`{{product.productId}}`,`{{currentUser.cartId}}`)"  class="flex flex-row text-blue-500 hover:text-green-800 ">
                                <svg class="w-3.5 h-2.5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                                    <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                                </svg>
                               Agregar al carrito
                            </button>

                             <div class="items-center flex flex-col text-blue-500 hover:text-green-800 ">
                                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">Vendedor</p>
                                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">({{product.owner}})</p>
                                </div>
                            <button id='button-{{product.productId}}' type="button" onclick="purchaseThisProduct(`{{product.productId}}`,`{{currentUser.email}}`)"  class="text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-s px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Comprar este producto</button>


                </div>
            </div>
            </div>
        </div>
</div>
    
</div>




<script>
    /*Utilizo los datos traidos en handlebars para renderizar la plantilla.*/

    function addToCartThisProduct(productId,currentUserCartId){

        const selectedQuantity = document.getElementById(`counter-input-${productId}`).value
        //console.log(productId,currentUserCartId,selectedQuantity)
     
           if (!currentUserCartId) {
            Swal.fire({icon: 'error',text: 'Inicia sesion!', text: 'Para poder agregar productos al carro o comprar, tenes que iniciar sesion !!',})
            return
        }
     
     
        //Procedo a agregar al carro del currentUser el ProductId en la cantidad indicada.
         fetch(`/api/carts/${currentUserCartId}/products/${productId}`,
            {
                method:'POST', 
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ quantity: Number(selectedQuantity) })
               })
                .then(response => {
                   //Segun la respuesta mostramos un alert o finalmente actualizamos el carro en el dom en la barra
                    if (!response.ok){
                        response.json()
                        .then(data =>{
                             Swal.fire({icon: 'error',title: 'Error al intentar comprar...',text: data.message})
                        })
                    }
                    else{
                        response.json().
                        then( res => {
                            console.log(res) //Cambio la cantidad en el carrito en la barra.
                            document.getElementById('productsQuantityInUserCart').innerText = res.cart.countProducts
                        })
                    }

                })
    }

    //---------------------------------------------------------------------------------------------------------------------------
    
    function purchaseThisProduct(productId,currentUserEmail){

        const selectedQuantity = document.getElementById(`counter-input-${productId}`).value
        //console.log(productId,currentUserEmail,selectedQuantity)
        
           if (!currentUserEmail) {
            Swal.fire({icon: 'error',text: 'Inicia sesion!', text: 'Para poder agregar productos al carro o comprar, tenes que iniciar sesion !!',})
            return
        }
     
      
        //Con esta condicion si el user no esta logueado lo mando a iniciar sesion.
        /*if (!loggedUserInfo.login) return redirectToLogin(event)
          //sabemos que el boton tiene el nombre boton+'-'iddelproducto' del producto x lo tanto tenemos el id del producto a agregar
        const pressedButtonId = event.target.id //Hay que recortarlo a partir del '-'
        const separatorPosition = pressedButtonId.indexOf('-')
        const productId = pressedButtonId.substring(separatorPosition+1)
        console.log(productId,'user: ', actualUserId)
         //sabemos que el input de cantidad se llama counter input y tiene el ID del producto. Tomamos su valor o sea la cantidad.
        const selectedQuantity = document.getElementById(`counter-input-${productId}`).value
        //Tenemos la cantidad seleccionada, el productID y el cart donde agregar, usamos fetch para llevar a cabo la operacacion haciendo solicitud.
        //Y de acuerdo a lo que envia el server mando una notiicacion de tostify
        //console.log(productId,selectedQuantity)
        //window.location.href = `/views/${productId}/singlepurchase/${selectedQuantity}/${actualUserId}`
        //Hago fetching...
        fetch(`/api/purchases/singlepurchase`,{
            method: 'POST',
             headers: {'Content-Type': 'application/json'},
             body: JSON.stringify({ productId: productId,quantity: Number(selectedQuantity),userId: actualUserId })
        })
        .then(response => {
            if (response.ok){
                //Tomo los datos para dar un mensaje y redirigir 
                response.json()
                .then(data => {
                    console.log(data)
                    Swal.fire({
                        title: 'Compra exitosa !',
                        text: `Tu compra se realizo con exito. Se enviaran los detalles a tu email. Se genero el ticket ${data.ticket.code}.`,
                        icon: 'success',
                        confirmButtonText: 'Continuar',
                        allowOutsideClick: false, // No permitir cerrar al hacer clic fuera del diálogo
                        allowEscapeKey: false     // No permitir cerrar con la tecla Escape
                    })
                    .then((swalResult)=>{
                    //Se redirige a la vista del ticket con el correspodiente codigo.
                    window.location.href = `/views/${data.ticket.code}/purchase`
                })

                    })
                }
            else{
                 response.json()
                    .then(data => {
                        Swal.fire({icon: 'error',title: 'Error en compra',text: data.message})
                    })
            }
        })
        */
        }
</script>


<script>
    /*-- MANEJO BOTONES +/-----------------------------------------------------------------
    //teniendo en cuenta estas caracteristicas de los input min="1" max="{{this.stock}}" id="counter-input-{{this.id}}"
     -Cada input tiene un minimo de 1 y un maximo de cantidad de productos en stock igual que mercado libre.
     -id="decrement-button-{{this.id}}" onclick="decrementCounterQuantity(`{{this.id}}`)"
     -id="increment-button-{{this.id}}" onclick="incrementCounterQuantity(`{{this.id}}`)"
     */

    const decrementCounterQuantity = (id) => {
       const selectedInput = document.getElementById(`counter-input-${id}`)
        //Le resto y cambio el valor numerico si es mayor a 2
        if (selectedInput.value >= 2) selectedInput.value = Number(selectedInput.value) - 1
    }

    const incrementCounterQuantity = (id,stock) => {
        const selectedInput = document.getElementById(`counter-input-${id}`)
        //Le resto y cambio el valor numerico si es mayor a 2
        if (selectedInput.value < Number(stock)) selectedInput.value = Number(selectedInput.value) + 1
    }
</script>