   <div class="flex items-center justify-center h-screen bg-gradient-to-r from-blue-600 to-slate-600">
        <div class="w-full max-w-xl flex flex-col">
         
       
           
        <div class="rounded-lg shadow-xl bg-gray-900 text-white">
            <div class="border-b border-gray-800 px-8 py-3">
                <div class="inline-block w-3 h-3 mr-2 rounded-full bg-red-500"></div>
                <div class="inline-block w-3 h-3 mr-2 rounded-full bg-yellow-300"></div>
                <div class="inline-block w-3 h-3 mr-2 rounded-full bg-green-400"></div>
                        PERFIL DE USUARIO
            </div>
                <div class="px-8 py-6">
                    <p><em class="text-blue-400">const</em> <span class="text-green-400">aboutMe</span> <span class="text-pink-500">=</span> <em class="text-blue-400">function</em>() {</p>
                    <p>&nbsp;&nbsp;<span class="text-pink-500">return</span> {</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;nombre: <span class="text-yellow-300">'{{sessionData.user.first_name}}'</span>,</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;apellido: <span class="text-yellow-300">'{{sessionData.user.last_name}}'</span>,</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;email: <span class="text-yellow-300">'{{sessionData.user.email}}'</span>,</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;edad: <span class="text-yellow-300">'{{sessionData.user.age}}'</span>,</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;rol: <span class="text-yellow-300">'{{sessionData.user.role}}'</span>,</p>
                    <p>&nbsp;&nbsp;}</p>
                    <p>}</p>
                </div>
            </div>

     
        </div>

    </div>

