<table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Usuario
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Informacion
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
            </th>
               <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Cambiar status
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Role
            </th>
     
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Cambiar rol
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        {{#each usersList}}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm font-medium text-gray-900">{{email}}</div>
                
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                            <img class="h-10 w-10 rounded-full" src="https://i.pravatar.cc/150?img=1" alt="">
                        </div>
                        <div class="ml-4">
                            <div class="text-sm font-medium text-gray-900">
                                {{firstName}} {{lastName}}
                            </div>
                            <div class="text-sm text-gray-500">
                                Creado: '{{createdAt}}
                            </div>
                        </div>
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        {{enabled}}
                    </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap  text-sm font-medium">
                    <button class="text-indigo-600 hover:text-indigo-900">Activo</a>
                    <button class="ml-2 text-red-600 hover:text-red-900">Inactivo</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{role}}
                </td>
            
                <td class="px-6 py-4 whitespace-nowrap  text-sm font-medium">
                    
                    <form action="/api/users/rol" method="POST">
                       <input type="text" name="email" value={{email}} style="display: none"/>
                       <input type="text" name="new_role" value="admin" style="display: none"/>
                       <button class="text-indigo-600 hover:text-indigo-900" type="submit">Admin</button>
                    </form>

                      <form action="/api/users/rol" method="POST">
                       <input type="text" name="email" value={{email}} style="display: none"/>
                       <input type="text" name="new_role" value="user" style="display: none"/>
                       <button class="text-blue-300 hover:text-indigo-900" type="submit">User</button>
                    </form>

                     <form action="/api/users/rol" method="POST">
                       <input type="text" name="email" value={{email}} style="display: none"/>
                       <input type="text" name="new_role" value="premium" style="display: none"/>
                       <button class="text-blue-300 hover:text-indigo-900" type="submit">Premium</button>
                    </form>

                    
                </td>
            </tr>
    {{/each}}



        



        <!-- More rows... -->

    </tbody>
</table>